<% @lists.each do |list| %>
  <div class="row-fluid well">
  	<div class="span12">
      <div class="row-fluid">
        <div class="span9">
          <h3><%= link_to list.title, user_list_path(current_user, list) %></h3>
          <p><%= list.description %></p>
        </div>
        <div class="span3">
          <%  
            progres_bar_class = "info"
            if list.completion_score == 100
              progres_bar_class = "success"
            end
          %>
          <div class="progress progress-<%= progres_bar_class %> progress-striped">
            <div class="bar" style="width: <%= list.completion_score %>%"></div>
          </div>
          <div class="list_task_overview">
            <%= pluralize(list.tasks.size, t('lists.general.task')) %> - <%= list.tasks.completed.size %> <%= t('lists.general.completed') %>
          </div>
        </div> 
      </div>
    </div>
    <div class="span12">
      <%= link_to raw("<i class='icon-edit'></i> ") + t('edit'), edit_user_list_path(current_user, list), :class => "btn" %>
      <%= link_to raw("<i class='icon-trash icon-white'></i> ") + t('delete'), user_list_path(current_user, list), :class => "btn btn-danger", :method => :delete, :confirm => t('lists.views.index.delete_confirmation') %>
    </div>
  </div>
<% end %>
<h1><%= t("lists.views.index.no_records") if @lists.empty? %></h1>
<p><%= link_to raw("<i class='icon-plus icon-white'></i> ") + t("lists.views.new"), new_user_list_path(current_user), :class => "btn btn-primary" %></p>