<h1><%= @list.title %></h1>
<p><%= @list.description %></p>
<div class="well">
  <h2><%= t('tasks.general.tasks') %></h2>
  <% unless @uncompleted_tasks.empty? && @completed_tasks.empty? %>
    <table class="table">
      <thead>
    	  <th class="span1"></th>
    	  <th class="span2"><%= t('tasks.views.title') %></th>
    	  <th class="span4"><%= t('tasks.views.description') %></th>
    	  <th class="span3"><%= t('tasks.views.due_date') %></th>
    	  <th class="span2"></th>
    	</thead>
    	<tbody>
          <%= render :partial => 'tasks/uncompleted_task', :as => :task, :collection => @uncompleted_tasks %>
          <%= render :partial => 'tasks/completed_task', :as => :task, :collection => @completed_tasks %>
      </tbody>
    </table>
  <% else %>
    <%= t('tasks.views.no_tasks') %>
  <% end %>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> New Task"), new_user_list_task_path(current_user, @list), :class => "btn btn-primary" %>